@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Inconsolata:300");
@import '~antd/dist/antd.css';
@import "~react-image-gallery/styles/css/image-gallery.css";


*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --primary-500: #645cff;
  --primary-700: #4640b3;

  --grey-50: #f2f4f8;
  --grey-300: #dbe0ea;
  --grey-600: #adb3bf;
  --grey-1000: #333538;
  --white: #fff;

  /* typography */
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.7em;
  /* rest */
  --backgroundColor: var(--white);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

html {
  font-size: 112.5%;
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

a:hover {
  color: hotpink;
}

.MuiAutocomplete-endAdornment {
  top: calc(50% - 14px);
  right: 0;
  position: inherit !important;
  display: flex;
}
